body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(30, 31, 34, 0.95), rgba(30, 31, 34, 0.95)), url(/imgs/underwater.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2.5px);
    z-index: -1;
}

body {
    background-color: rgba(30, 31, 34, 0.95);
    color: white;
}

.dialog {
    box-sizing: border-box;
    position: absolute;
    width: 1159px;
    height: 777px;
    left: calc(50% - 1159px/2 + 0.5px);
    top: calc(50% - 777px/2 - 0.5px);
    background-color: var(--gray-2);
    display: grid;
    grid-template-rows: 33px 1fr 57px;
}

.dialog .header {
    color: #DFE1E6;
    text-align: center;
    padding-top: 7px;
    border-bottom: var(--gray-3) 1px solid;

}

.dialog .footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 24px;
    position: relative;
    align-items: center;
    gap: 12px;
    border-top: 1px;
    border-top-color: var(--gray-2);
    border-top: var(--gray-3) 1px solid;

}


.dialog .content {
    background-color: red;

}

.dialog .content .camera {
    width: 167px;
    height: 100%;
    background-color: var(--gray-2);
    flex-direction: column;
    gap: 8px;
    border-right: var(--gray-3) 1px solid;
}

.dialog .content .camera img {
    margin-top: 24px;
    width: auto;
    height: 82px;
}

.dialog .footer .help {
    margin-right: auto;
    height: 24px;
    position: relative;
}

.dialog .footer .help .tooltip {
    position: absolute;
    opacity: 0;
    top: 0;
    padding-bottom: 20px;
    left: 12px;
    translate: -24px calc(-100% + 15px);
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.16));
    pointer-events: none;
    transition: opacity 0.3s ease-out;
}

.dialog .footer .help .tooltip .content {
    display: flex;
    flex-direction: column;
    width: calc(280px - 32px);
    background-color: var(--gray-3);
    border-radius: 8px;
    gap: 4px;
    padding: 12px 16px;
}

.dialog .footer .help .tooltip .content a:hover {
    text-decoration: underline;
}

.dialog .footer .help:hover .tooltip {
    opacity: 1;
    pointer-events:all;
}

.tooltip a {
    text-decoration: none;
}